/*
	Show separator space between root level tabs.
	Cancel needless separators on exceptions
*/
/*
tab-item[data-level="0"] {
  margin-top: 3px;
}
tab-item[data-level="0"].pinned,
tab-item[data-level="0"].pinned + tab-item[data-level="0"],
tab-item[data-level="0"] + tab-item[data-level="0"]:not([data-child-ids]) {
  margin-top: 0;
}
*/

/*
Sidebar background color.
*/
:root {
  --browser-background: white;
}

/*
Tabs size.
*/
:root {
  --tab-size: 34px;
  --faviconized-tab-size: 32px;
}

/*
Tab background color.
*/
.tab .background {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
.tab.active {
  background: rgba(255,0,0,0.5);
}
.tab:hover {
  background: rgba(255,0,0,0.3);
}

/*
Space around the collapse tab markers.
*/
.tab:not(.pinned) .twisty {
  margin-left: 2px;
  margin-right: 2px;
}

/*
Adjust tab content width.
*/
.tab:not(.pinned) .ui {
  max-width: calc(100% - var(--favicon-size) - 8px);
}

/*
Space between favicons and text.
*/
.tab .favicon {
  margin-right: 4px;
}

/*
Hide the close tab button.
*/
.tab .closebox {
  display: none;
}

/*
Tab counter style.
*/
.tab .caption .counter::before {
  content: '';
}
.tab .caption .counter::after {
  content: '';
}
.tab .caption .counter {
  position: absolute;
  z-index: 999;
  right: 3px;
  padding: 4px 4px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  /*
  outline: 3px solid white;
  */
}

/*
Hide the "new tab" button.
*/
.newtab-button-box {
  display: none;
}
