$clock-internal-spacing: -0.5em;


.wo-clock
{
    padding: 1em 0;


    .clock-part
    {
        font-size: 2.0em;
    }

    .clock-time
    {
        font-weight: bold;
    }

    .clock-month
    {
        margin-bottom: $clock-internal-spacing;
    }

    .clock-date
    {
        font-weight: lighter;
    }

    .clock-hours
    {
        margin-bottom: $clock-internal-spacing;
    }

    .clock-minutes
    {
    }

    .separator
    {
        label
        {
            background-color: white;
            font-size: 0;
            min-height: 1pt;
            min-width: 10pt;
        }
    }
}
