.wp-bar
{
    background-color: $bg;


    .wa-panel-button.flat
    {
        &:hover
        {
            border-right: 2px solid $color-action;
        }
        &.active
        {
            border-right: 2px solid $color-emphasis;
        }
    }
}
