.wp-drawer
{
    .container
    {
        min-width: 300pt;
        background-color: $bg;
        box-shadow: transparentize($bg, 0.2) 0px 2px 8px 0px;
    }

    .overlay
    {
        background-color: transparentize($bg, 0.8);
    }
}
